<div id="main" class="container">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="brand">
                    Your App
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="main">
        <div class="row-fluid">
            <div>
                <div class="span3">
                  <div id="top-nav" class="well sidebar-nav">
                    <ul id="navbar">
                      <li>
                        {{#linkTo 'index'}}Labs Home{{/linkTo}}
                      </li>
                      <li>
                        {{#linkTo 'getstarted'}}Getting Started{{/linkTo}}
                        {{outlet startNav}}
                      </li>
                      <li>
                        {{#linkTo 'extensions'}}Labs Directory{{/linkTo}}
                        {{outlet sideFilter}}
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="span9 content">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
</footer>
